*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{

	font-family: "Open Sans", sans-serif;
}

#div1{

	/*margin: 50px;*/
	padding: 20px;
	border: 2px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;

}

#div2{
	/*margin: 25px 30px 50px 100px;
*/	border: 2px solid black;
	padding: 20px;
	height: 100px;
	width: 100px;
	display: inline-block;
	background-color: darkred;
	vertical-align: top;
}

#span1{

	display: inline-block;
	border: 2px	solid black;
	background-color: green;
	height: 100px;
	width: 100px;
}

#span2{

	display: inline-block;
	border: 2px	solid black;
	background-color: blue;
	height: 100px;
	width: 100px;
}