*{

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{

	font-family: "Times new roman", sans-serif;


}

nav{

	padding: .8rem;
	border-bottom: 1px solid grey;
	margin-bottom: 2rem;

}

nav>ul{

	list-style-type: none;

}

nav	.nav, nav .nav-logo{

	margin: .5rem;
	display: inline;
}

#intro{

	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{

	margin-bottom: 1rem;

}

#intro button{

	color: white;
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}


#info{

	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info H2{

	margin-bottom: 1rem;

}

#info div{

	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	min-height: 125px;

}

#info h3{
	margin-bottom: 1rem;
}

#pre-footer{

	padding-top: 30px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	background-color: #040720;
	color: white;
}

#pre-footer h3{

	margin-bottom: 3px;
}


#pre-footer p{

	margin-bottom: 2px;
}

#pre-footer div{

	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 7rem;
}

footer>span{

	
	padding-right: 1rem;
	padding-left: 1rem;
}

